*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body {
    height: 4000px;
}

section{
    height: 100vh;
}

#home{
    position: relative;

    #logo{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        position: absolute;
        top: 0;
    }
    
    #banner{
        background-image: url(./img/banner.jpg);
        height: 100vh;
        background-size: cover;
        background-position-y: center;
        
    }
    
    nav {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        text-align: center;
        padding: 0 10% 0 10%;
        font-size: 20px;
        // 定位：黏住
        position: sticky;
        // 上方：位置
        top: 100px;
        transform: translateY(-100px);
        a {
            color:#004060;
            text-decoration: none;
        }
    }
    
}


#about {

    #hello{
        display: block;
        margin-top: 0;
        height: 45vh;
        
    }
    
    
   .parallax{
       font-size: 50px;
       height: 80vh;
       width: 100%;
       background-image: url(./img/yogurtparallax.jpg);
       background-size: cover;
       display: table;
       background-attachment: fixed;
      
    }


   
   
 
}